.container {
  background-image: url('../../../../assets/backgrounds/fondo-web.jpg');
   background-size: 100%;
}

h1 {
  font-size: 4rem;
  color: #D7FF00;
  margin-bottom: 2rem;
}

p {
  font-size: 1rem;
  color: #D7FF00;
}

.ionCard {
  max-width: 55rem;
  margin: auto;
  margin-top: 2rem;
  background-color: transparent;
  box-shadow: none;
}

.large-title {
  font-size: 2em;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.login-card {
  width: 100%;
  max-width: 500px;
  padding: 10px;
}
.login-title {
  text-align: center;
}

ion-button {
  --background: #D7FF00;
  --color: black;
  margin-top: 15px;
}

.logo {
  width: 100%;
  max-width: 150px;
  margin: auto;
  display: block;
}
